@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
    background: linear-gradient(to right, #161616, #000000);
}

body{
    overflow-x: hidden;
    background: linear-gradient(to right, #161616, #000000);
}

/*NAVBAR*/

.navbar {
    background: #131313;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
}

#navbar__logo img{
    margin-right: 1rem;
    height: 2.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.4s ease;
    font-family: 'Righteous', cursive;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3 ease;
    font-family: 'Righteous', cursive;
    animation: animate 5s linear infinite; 
}

@keyframes animate{
    0%{
        filter: hue-rotate(270deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(270deg);
    }
}

.navbar__links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.8s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*Home Style*/

.home {
    background: linear-gradient(to right, #161616, #000000);
    display: flex;
}

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    padding: 0;
}

.home__heading {
    margin-top: 4rem;
    font-size: 100px;
    color: #fff;
}

.home__heading .color {
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.home__description {
    margin-top: 2rem;
    font-size: 60px;
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
}

.home__icon{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background: #ff8177;
    background: -webkit-linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transpatent;
}
@media (prefers-reduced-motion: no-preference) {
    #rot {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.home__container button{
    margin-top: 3rem;
}

.home__container .social__icons{
    margin-top: 3rem;
    width: 350px;
}

.home__container .social__icons .social__icon--link{
    font-size: 40px;
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: 0.3s ease-out;
}

.highlight {
    border-bottom: 6px solid rgb(153, 45, 255);
}

@media screen and (max-width: 768px) {
    .home__icon{
        margin-top: 0.5rem;
        width: 100px;
        height: 100px;
    }
    .home__heading {
        font-size: 50px;
        margin-top: 4rem;
    }

    .home__heading .color {
        font-size: 60px;
    }

    .home__description {
        margin-top: 0.5rem;
        font-size: 40px;
    }

    .home__container .main__btn{
        margin-top: 1.5rem;
    }

    .home__container .social__icons{
        margin-top: 1.3rem;
        width: 300px;
    }

    .home__container .social__icons .social__icon--link{
        font-size: 30px;
    }
}

/*About section*/

.main {
    background: #da22ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9114ff, #da22ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9114ff, #da22ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10rem 0;
}

.main h1 {
    font-size: 4.5rem;
    background: #fff;
    background: -webkit-linear-gradient(
        -190deg,
        #fff 40%,
        #3f3f3f
    );
    background: linear-gradient(
        -190deg,
        #fffe 40%,
        #3f3f3f
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transpatent;
    margin-bottom: 100px;
    text-align: center;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h2 {
    font-size: 3.5rem;
    background: #bdc5ce;
    background: -webkit-linear-gradient(
        -190deg,
        #bdc5ce 60%,
        #57595a
    );
    background: linear-gradient(
        -190deg,
        #bdc5ce 60%,
        #57595a
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transpatent;
    font-family: 'Righteous', cursive;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 50px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    animation: animate 5s linear infinite;
    box-shadow: 0 1.5rem 1.7rem rgba(0,0,0,0.5); 
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after{
    width:100%;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: #ff8177;
    background: -webkit-linear-gradient( 320deg , #00dbde 0%, #fc00ff 70%);
    background: linear-gradient( 320deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transpatent;
    box-shadow: 0 1.5rem 1.7rem rgba(0,0,0,0.7);
}

.main__img--card img {
    width: 400px;
    height: 650px;
    margin: 40px auto 0;
}

#card-2 {
    background: #ff8177;
    background: -webkit-linear-gradient( 320deg , #00dbde 0%, #fc00ff 70%);
    background: linear-gradient( 320deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transpatent;
}

/*Mobile Rsponsive*/

@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }

    .main__img--card img {
        width: 350px;
        height: 450px;
        margin: 40px auto 0;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2.8rem;
    }

    .main__content p {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 5rem 0 2rem 0;
    }

    .main__img--card {
        width: 300px;
        height: 300px;
        margin-bottom: 3rem;
    }

    .main__img--card img {
        width: 250px;
        height: 300px;
        margin: 20px auto 0;
    }


    .main h1 {
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0 1rem 0;
    }
}

/*Services Section*/
.services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 4.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    color: white;
    background-image: linear-gradient(to right, #00dbde, #fc00ff);
    transition: 0.3s ease-in;
}

.services__card:nth-child(8){
    background-image: linear-gradient(-80deg, #00dbde, #fc00ff);
}


.services__card:nth-child(5){
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(
        290deg,
      #fdeff9,
      #ec38bc, 
      #7303c0,
      #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        290deg,
      #fdeff9, 
      #ec38bc, 
      #7303c0, 
      #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.services__card:nth-child(2) {
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #A6FFCB, 
        #12D8FA, 
        #1FA2FF
        );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right, 
        #A6FFCB, 
        #12D8FA, 
        #1FA2FF
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.services__card:nth-child(6) {
    background: #1FA2FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(
        -60deg,
        #A6FFCB, 
        #12D8FA, 
        #1FA2FF
        );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        -60deg, 
        #A6FFCB, 
        #12D8FA, 
        #1FA2FF
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card:nth-child(1) h2,
.services__card:nth-child(4) h2{
    color: black;
}

.services__card:nth-child(2) h2{
    color: #444;
}

.services__card:nth-child(3) {
    background-image: linear-gradient(
        255deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
}

.services__card:nth-child(7) {
    background-image: linear-gradient(
        -255deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
}

.services__card:nth-child(3) h2{
    color: #111;
}

.services__card .left {
    width: 15%;
    float: left;
    color: white;
}

.services__card .left img{
    width: 90%;
    height: 90%;
    margin-top: 20px;
}

.services__card .left h2{
    font-family: 'Righteous', cursive;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 37px;
}

.services__card:nth-child(1) h2{
    margin-top: 10px;
}

.services__card:nth-child(2) h2{
    margin-top: 55px;
}

.services__card:nth-child(3) h2{
    margin-top: 20px;
}

.services__card:nth-child(4) h2{
    margin-top: 180px;
}

.services__card:nth-child(5) h2{
    margin-top: 10px;
}

.services__card:nth-child(6) h2{
    margin-top: 55px;
}

.services__card:nth-child(7) h2{
    margin-top: 20px;
}

.services__card:nth-child(8) h2{
    margin-top: 180px;
}

.services__card .right {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

.distortion .image{
    border-radius: 4px;
    width: 255px;
    height: 320px;
    animation: services 40s infinite;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}

@keyframes services{
    0%{
        background-image: url(./img/test1.jpg);
    }10%{
        background-image: url(./img/test1.jpg);
        background-image: url(./img/test2.jpg);
    }10.1%{
        background-image: url(./img/test2.jpg);
    }20%{
        background-image: url(./img/test2.jpg);
        background-image: url(./img/test3.jpg);
    }20.01%{
        background-image: url(./img/test3.jpg);
    }30%{
        background-image: url(./img/test3.jpg);
        background-image: url(./img/test4.jpg);
    }30.01%{
        background-image: url(./img/test4.jpg);
    }40%{
        background-image: url(./img/test4.jpg);
        background-image: url(./img/test5.jpg);
    }40.01%{
        background-image: url(./img/test5.jpg);
    }50%{
        background-image: url(./img/test5.jpg);
        background-image: url(./img/test6.jpg);
    }50.1%{
        background-image: url(./img/test6.jpg);
    }60%{
        background-image: url(./img/test6.jpg);
        background-image: url(./img/test7.jpg);
    }60.01%{
        background-image: url(./img/test7.jpg);
    }70%{
        background-image: url(./img/test7.jpg);
        background-image: url(./img/test8.png);
    }70.01%{
        background-image: url(./img/test8.png);
    }80%{
        background-image: url(./img/test8.png);
        background-image: url(./img/test9.jpg);
    }80.01%{
        background-image: url(./img/test9.jpg);
    }90%{
        background-image: url(./img/test9.jpg);
        background-image: url(./img/test10.jpg);
    }90.01%{
        background-image: url(./img/test10.jpg);
    }100%{
        background-image: url(./img/test10.jpg);
        background-image: url(./img/test1.jpg);
    }
}

.distortion .imageone{
    animation: services 2s infinite;
}

.services__card p {
    text-align: center;
    font-size: 24px;
    color: black;
    font-family: 'Righteous', cursive;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin: 6px 0;
}

.services__card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
    font-family: 'Righteous', cursive;
}

.services__card button:hover {
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1100px){
    .services h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding-top: 5rem;
        padding-bottom: 10px;
    }

    .services__wrapper {
        grid-template-columns: 1fr;
    }
    
}

/*GALERIJA*/
.galerija{
    background: #131313;
    padding: 10rem 0;
}

.galerija h1{
    background: #fff;
    background: -webkit-linear-gradient(
        -190deg,
        #fff 40%,
        #3f3f3f
    );
    background: linear-gradient(
        -190deg,
        #fffe 40%,
        #3f3f3f
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 10rem;
    font-size: 4.5rem;
    text-align: center;
}

.galerija .galery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.galery .box{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: galery 30s linear infinite;
}

@keyframes galery {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
    
}

.galery .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}

.galery .box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1100px){
    .galerija h1 {
        font-size: 2.5rem;
    }
    .galerija .galery{
        margin-bottom: 15rem;
    }
    .galery .box{
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .galerija .galery{
        margin-bottom: 5rem;
    }
    .galery .box{
        width: 200px;
        height: 200px;
    }
}


/*Footer Style*/
.footer__container {
    background-color: #131313; 
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__container h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#footer__logo {
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s ease-out;
}

#footer__logo:hover {
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.stolica{
    margin: 16px;
    width: 160px;
    display: flex;    
    box-sizing: border-box;
}

.stolica img:nth-child(2){
    max-width: 100px;
    max-height: 110px;
}

.stolica img:nth-child(1){
    max-width: 50px;
    max-height: 50px;
}


.footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
}

.footer__link--items a:hover {
    color: #9518fc;
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.footer__container .map .map{
    display: block;
    margin: 1em auto;
    width: 100%;
    height: calc(.5625 * 100vh);
    max-width: 630px;
    max-height: 320px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 6px;
}

.social__icon--link {
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 24px;
    transition: 0.3s ease-out;
}

.social__icon--link:hover {
    color: #9518fc;
    transform: scale(1.3);
    transition: 0.3s ease-out;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #fff;
    text-align: center;
}

.website__rights a{
    background-color: #ff8177;
    background-image: linear-gradient( -365deg , #00dbde 0%, #fc00ff 70%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width: 820px) {
    .footer__container h1{
        font-size: 3rem;
    }

    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__container h1{
        font-size: 2.5rem;
    }
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}







































































































































































































